.left-box{
    width: 100%;
    border: 2px solid #007ced;
    border-top-left-radius: 10px;
    border-color: #007ced transparent transparent #007ced;
    margin-bottom: 0px;
    padding: 20px;
}
.right-box{
    width: 100%;
    border: 2px solid #007ced;
    border-top-right-radius: 10px;    
    border-color: #007ced #007ced transparent transparent;
    padding: 20px;
    text-align: right;
}

.left-box, .right-box{
    background-color: inherit;
    transition: ease-in-out;
    transition-property: background-color;
    transition-duration: 1500ms; /* vendorless fallback */
    -o-transition-duration: 1500ms; /* opera */
    -ms-transition: 1500ms; /* IE 10 */
    -moz-transition-duration: 1500ms; /* Firefox */
    -webkit-transition-duration: 1500ms; /*safari and chrome */
}

.left-box:hover,.right-box:hover{    
    background-color: #10161b;
    box-shadow: 0 0 5px #007ced;
    transition: ease-in-out;
    transition-property: background-color;
    transition-duration: 1000ms; /* vendorless fallback */
    -o-transition-duration: 1000ms; /* opera */
    -ms-transition: 1000ms; /* IE 10 */
    -moz-transition-duration: 1000ms; /* Firefox */
    -webkit-transition-duration: 1000ms; /*safari and chrome */
}

