body{
    background-color: #31355a;
    color:#8892b0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
}
article{
    color:#8892b0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.head5{
    color: whitesmoke;
}

#main-container{
    position: relative;      
    display: none;
}

.container{
    position: relative;  
  
}
.jumbotron{
    background: none;
    border: 0.05px solid #888692; 
    margin-bottom: 0em;   
}
.box{
    width: 40px;
    height: 40px;
    border:wheat 1px solid;
    background-color: slateblue;
    margin: 5px;
}

.div-height-50{
    height: 20px;
}

li span{
    transition: font-size;
    transition-timing-function: ease-in-out;
    transition-duration: 100ms;
    color:cyan;
}

.mydisabled{
    color:gray;
}

li span:hover{    
    font-size: 23px;
    color:#8080ff;
}
#logo{
    float: left;
    width:45px;
    height: 100%;
}

.head-name{
    color: cyan;
    font-family: 'Asap Condensed', sans-serif;
    letter-spacing: 0.1rem;
    font-size:x-large;  
    transition-timing-function: ease-in-out;
    transition-duration: 100ms;
}

.head-name:hover{
    color: #8080ff;    
}
.nav-custom{    
    background-image: linear-gradient(#31355f,#31355a);    
}
.luminous{
    color: cyan;
}

.primary-title{
    font-family: 'Asap Condensed', sans-serif;
    font-size: 40px; 
    color:whitesmoke;
}
.secondary-title{
    color:#ccd6f6;
    font-size: 55px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    margin-top: 4opx;    
}
.btn, .btn-outline-primary, .btn-lg {
    border-color: cyan !important;
    color:cyan;
     
}
.btn:hover{
    background-color: #8080ff;
}

.custom-toggler.navbar-toggler{
    border-color: cyan;
}

.custom-toggler .navbar-toggler-icon{
    background-image: url( 
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 252, 224, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}

#contactmebtn{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content:space-around;      
}

#social-btns button,#social-btns-main button{
    margin:4px;
    border: none;
}

footer{
    font-size: 13px;
    text-align: center;
    width:100%;
    margin-bottom: 30px;
    margin-top: 10px;
    height:30px;
}

/* footer for main page as it needs to be hidden at the start of anumation */
#mainfooter{
    font-size: 13px;
    text-align: center;
    width:100%;
    margin-bottom: 30px;
    margin-top: 10px;
    height:30px;
    display: none;
}

#social-btns{    
    display: flex;
    flex-direction: row;    
    justify-content:center; 
    flex-wrap: wrap;
   
}

#social-btns-main{    
    display: none;
    flex-direction: row;
    margin-top: 40px;
    justify-content:center; 
    flex-wrap: wrap;
   
}

.hr-luminous{    
    border-top:1px solid cyan;    
}


footer div a{
    margin-left: 10px;
}


/* folloing selectors for bootstrap Grid */
.top5 { margin-top:5%; }
.top7 { margin-top:7%; }
.top10 { margin-top:10%; }
.top15 { margin-top:15%; }
.top17 { margin-top:17%; }
.top30 { margin-top:30%; }
